.my-container {
  position: relative;
  width: 40px !important;
  height: 25px;
  .tckt {
    fill: #dd0f1b;
    animation-name: fade;
    animation-duration: 800ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  //   @keyframes fade {
  //     from {
  //       opacity: 1;
  //     }
  //     to {
  //       opacity: 0.4;
  //     }
  //   }
  .my-text {
    position: absolute;
    top: 6% !important;
    left: 4%;
    fill: #fff;
    z-index: 2;
  }
}
.wrapper {
  display: flex !important;
  flex-direction: row;
  width: 130px;

  margin-top: 10px !important;
  padding-bottom: 0 !important;
}

.heading {
  padding-top: 0;

  font-size: 20px;
  color: $color-white;
}
