@import "abstracts/base";
@import "abstracts/variables";
@import "abstracts/typography";

//Components
@import "../components/Header/header";
@import "../components/Header//logo";
@import "../components//PosterCard/postercard";
@import "../components/Slider/carousel"