@import "abstracts/base";
@import "abstracts/variables";
@import "abstracts/typography";

//Components
@import "../components/Header/header";
@import "../components/Header//logo";
@import "../components//PosterCard/postercard";
@import "../components/Slider/carousel";
@import "../components//ListWidget//listwidget";
@import "../components//SecondarySlider//posterslider";
@import "../components//CityModal/citymodal";
@import "../components//placeholders//cardplaceholder";
@import "../components//FilterWidget//filterwidget";
@import "../components//Login-Signup//Login";
@import "../Pages/SeatLayout/smap";
//Pages
@import "../Pages/Home/Home";
@import "../Pages//Movies/moviespage";
@import "../Pages//MovieDetailsPage//moviedetails";
@import "../Pages//TheatresPage/theatrepage";
@import "../Pages//SeatLayout//seatlayout";
@import "../Pages/FiltersPage/filterspage";
