.movie-details-wrapper {
  position: relative;
  height: 230px;
  .md-page-image-banner {
    width: 100vw;
    height: 100%;
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }
  .md-page-image-overlay {
    position: absolute;
    // z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
  }
}
.md-ratings-bookticket {
  height: 80px;
  padding-top: 30px;
  padding-bottom: 5px;
  padding-right: 30px;
  display: flex;
  margin-left: 30%;
  flex-direction: row;
  justify-content: space-between;
  .ticket-button {
    width: 238px;
    text-align: center;
    cursor: pointer;
    padding: 15px 40px;
    font-size: 12px;
    border-radius: 2px;
    outline: 0;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    color: $color-font-heading-white;
    background-color: $color-blue;
  }
}
.poster-image-wraper {
  transform: translateY(-250px);
  z-index: 9;

  .md-poster-image {
    width: 80%;
    height: 70%;
    margin-left: 10px;
    z-index: 5;
    position: relative;
  }
}
.play-button {
  top: 0;
  cursor: pointer;
  margin-left: 90px;
  margin-top: 150px;
  z-index: 10;
  position: absolute;
  transition: svg 5s ease-in;
  &:hover {
    transform: scale(1.2);
    svg {
      fill: $color-font-heading-white;
    }
  }
  svg {
    margin: 0 auto !important;
    fill: $color-nav-font;
    font-weight: 10px;
    width: 75px !important;
    height: 75px !important;
  }
}
.videos-wrapper {
  display: none;
}
.video-frame-desktop {
  width: 100%;
  height: 300px;
}
//Media Queries
@media only screen and(max-width:800px) {
  .md-page-image-banner {
    display: none;
  }
  .md-page-image-overlay {
    display: none;
  }
  .videos-wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: flex-start;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    .video-container {
      border-radius: 10px;

      height: 210px;
      padding-left: 10px;
      padding-top: 5px;
      border-radius: 10px;
      .video-frame {
        border-radius: 10px;
        width: 85vw !important;
        height: 200px;
      }
    }
  }
  .poster-image-wraper {
    display: none;
  }
  .md-ad {
    display: none;
  }
  .md-ratings-bookticket {
    padding-top: 10px;
    margin-left: 10px;
    .md-vote-count {
      font-size: 20px;
    }
  }
  .md-page-info {
    transform: translateY(0px) !important;
  }

  //summary
  .md-page-summary {
    transform: translateY(0px) !important;
  }

  .summary-wrapper {
    padding-right: 0 !important;
    margin-right: 0 !important;
    width: 90vw !important;
  }
  .md-cast-image {
    margin: 0 auto !important;
  }
  .md-info-title {
    margin-top: 10px !important;
    color: $color-font-black !important;
  }
  .md-info-tag {
    display: inline-block;
    color: $color-font-black !important;
  }
  .md-info-tag-small {
    display: inline-block;
    color: $color-font-black !important;
  }
  .md-genre-tag {
    border: 1px solid $color-font-muted !important;
    color: $color-font-muted !important;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    //   margin-right: 10px;
    display: inline-block;
    //   margin-top: 10px;
    cursor: pointer;
  }
}
//media query ends
.md-page-info-wrapper {
  background-color: $color-white;
}
.md-info-title {
  color: $color-font-heading-white;
}
.md-info-tag {
  display: inline-block;
  color: $color-font-heading-white;
}
.md-info-tag-small {
  display: inline-block;
  color: $color-font-heading-white;
}
.md-genre-tag {
  border: 1px solid $color-font-heading-white;
  color: $color-font-heading-white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  //   margin-right: 10px;
  display: inline-block;
  //   margin-top: 10px;
  cursor: pointer;
}
.md-page-info {
  transform: translateY(-250px);
}

//summary
.md-page-summary {
  transform: translateY(-100px);
}
.summary-overview {
  font-size: 14px;
  color: $color-font-black;
}
.md-cast-image {
  border-radius: 80px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.cast-slider-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  .cast-name {
    margin-bottom: 0 !important;
    text-align: center;
    font-size: 14px;
    color: $color-green;
  }
  .cast-role {
    margin-bottom: 0 !important;
    text-align: center;
    font-size: 12px;
    color: $color-font-muted;
  }
  .cast-char {
    margin-bottom: 0 !important;
    text-align: center;
    font-size: 14px;
    color: $color-font-muted;
  }
}
