$color-primary-nav: #333545;
$color-nav-font: #cccccc;
$color-secondary-nav: #1f2533;
$color-main-wrapper: #f2f2f2;
$color-blue: #0078ff;
$color-white: #ffffff;
$color-font-black: #333333;
$color-font-muted: #999999;
$color-secondary-footer: #404043;
$color-primary-footer: #333338;
$color-font-heading-white: #f4f4f4;
$color-green: #49ba8e;
$color-orange: #ffa426;
$color-red: #c02c39;
