.city-modal-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
  .city-modal-wrapper {
    .city-modal {
      fill: $color-font-muted !important;
    }
    .city-modal-title {
      font-size: 14px;
      color: $color-font-muted;
    }
    &:hover {
      .city-modal {
        fill: $color-blue !important;
      }
    }
  }
}

.city-modal-input {
  font-size: 14px !important;
}
